
[data-skuid="default-r4c1"] {
  background: blue;
  flex-flow: column;
}

.simple-keyboard .hg-button-container[data-skuid="default-r4c1"] .hg-button {
  height: 20px;
  width: 100%;
}

.simple-keyboard .hg-button-container[data-skuid="default-r4c1"] .hg-button:first-child {
  margin-bottom: 2px;
}

.simple-keyboard .veritcalArrowkeys {
  margin-left: 25%;
  max-width: 50%;
}

.simple-keyboard .horizontalArrowkeys {
  max-width: 50%;
}

